body {
  font-family: sans-serif;
}

header {
  color: white;
  background-image: url(https://raw.githubusercontent.com/UWFront-End-Cert/starters/master/lesson04-mock4-footer-image.jpg);
  background-color: darkcyan;
  height: 200px;
}

.headerbox {
  box-sizing: border-box;
  width: 500px;
  padding-left: 50px;
  padding-top: 25px;
}

section {
  box-sizing: border-box;
  width: 650px;
  padding-left: 50px;
  padding-top: 25px;
}
